<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>boot-args</key>
  <string>-v -s debug=0x0C serial=0 iotrace=0 io=0</string>
  <key>boot-file</key>
  <string>\ravynOS\kernelcache</string>
  <key>boot-uuid</key>
  <string>80C8BAFE-EB52-3601-A164-31E456F2E740</string>
</dict>
</plist>
